/*-- scss:defaults --*/

/*--- colors ---*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
$bm-green: #00923f !default;
$bm-blue:  #201E50 !default;
$bm-red:   #e4572e !default;

$primary: $bm-green !default;
$secondary: $gray-700 !default;

$body-color: $secondary !default;

/* code blocks */
$code-block-bg: $gray-200 !default;

/* inline code */
$code-bg: $gray-200 !default;
$code-color: $secondary !default;

/* callout blocks */
$callout-color-note: $bm-blue !default;
$callout-color-tip: $bm-green !default;
$callout-color-important: $bm-red !default;

$input-bg: $gray-200 !default;